<h1>商品一覧</h1>
<p><%= link_to new_admin_item_path, class: 'nav-link text-light' do %>
<i class="fas fa-plus-circle"></i>
<% end %></p>

<% @items.each do |item| %>
<div>
  <p>商品ID：<%= item.id %></p>
  <p>商品名：<%= link_to item.name, admin_item_path(item.id) %></p>
  <p>税抜き価格：<%= item.price %></p>
  <p>ジャンル：<%= item.genre.name %></p>
  <% if item.is_active? %>
    <p>ステータス： 販売停止中</p>
  <% else %>
    <p>ステータス： 販売中</p>
  <% end %>
</div>
<% end %>
<%= paginate @items %>
