<div class="container-fluid">
  <h2>管理者ログイン</h2>
    <div class="row justify-content-center">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <table>
          <tr>
            <td>メールアドレス</td>
            </div>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control ml-4 mb-3' %></td>
            </div>
          </tr>
          <tr>
            <td>パスワード</td>
            </div>
            <td><%= f.password_field :password, autocomplete: "current-password", class: 'form-control ml-4 mb-3' %></td>
            </div>
          </tr>
          <tr>
            <td></td>
            <td><%= f.submit "ログイン", class:"btn btn-primary ml-4" %></td>
          </tr>
        </table>
      <% end %>
    </div>
</div>
  <%= render "admin/shared/links" %>
