<h1><%= @customer.last_name + @customer.first_name %>さんの会員情報編集</h1>
<%= form_with model:@customer, url:admin_customer_path(@customer.id) do |f| %>
  <div class="field">
  <%= f.label :last_name, "姓" %><br>
  <%= f.text_field :last_name %>
  </div>

  <div class="field">
  <%= f.label :first_name, "名" %><br>
  <%= f.text_field :first_name %>
  </div>

  <div class="field">
  <%= f.label :last_name_kana, "姓カナ" %><br>
  <%= f.text_field :last_name_kana %>
  </div>

  <div class="field">
  <%= f.label :first_name_kana, "名カナ" %><br>
  <%= f.text_field :first_name_kana %>
  </div>

  <div class="field">
  <%= f.label :postal_code, "郵便番号" %><br>
  <%= f.text_field :postal_code %>
  </div>

  <div class="field">
  <%= f.label :address, "住所" %><br>
  <%= f.text_field :address %>
  </div>

  <div class="field">
  <%= f.label :telephone_number, "電話番号" %><br>
  <%= f.text_field :telephone_number %>
  </div>

  <div class="field">
    <%= f.label :email, "メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <h4>会員ステータス</h4>
      <%= f.label :is_deleted, '有効' %>
      <%= f.radio_button :is_deleted, 'false' %>

      <%= f.label :is_deleted, '退会' %>
      <%= f.radio_button :is_deleted, 'true' %>


  <div class="actions">
    <%= f.submit "変更を保存" %>
  </div>
<% end %>