<h1>配送先登録/一覧</h1>
<%= form_with model: @address do |f| %>
  <div class="field">
  <%= f.label :postal_code, "郵便番号" %><br>
  <%= f.text_field :postal_code %>
  <%= f.hidden_field :customer_id, :value => current_customer.id %>
  </div>

  <div class="field">
  <%= f.label :address, "住所" %><br>
  <%= f.text_field :address %>
  </div>

  <div class="field">
  <%= f.label :name, "宛名" %><br>
  <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>

<% @addresses.each do |address| %>
<div>
<p>郵便番号（ハイフンなし）：<%= address.postal_code %></p>
<p>住所：<%= address.address %></p>
<p>宛名：<%= address.name %></p>
<%= link_to "編集する", edit_address_path(address.id) %>
<%= link_to "削除する", address_path(address.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn-danger" %>
<% end %>
</div>