<div class="container">
  <%= form_with model: @order, url:confirm_orders_path, method: :post do |f| %>
  <div class="row justify-content-start">
    <h3>注文情報入力画面</h3>
  </div>

  <h5>支払方法</h5>
  <div class="row-4">
    <div class="col">
        <table>
          <tr>
            <td><%= f.radio_button :payment_method, Order.payment_methods.key(0) %> <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %></td>
          </tr>
          <tr>
            <td><%= f.radio_button :payment_method, Order.payment_methods.key(1) %> <%= f.label :payment_method, Order.payment_methods_i18n[:transfer]%></td>
          </tr>
        </table>
    </div>
  </div>

  <h5>お届け先</h5>
    <div class="row-4 ml-3">
      <table>
        <tr>
          <td><%= f.radio_button :address_number, "1" %> <%= f.label :address, "ご自身の住所" %></td>
        </tr>
        <div class="col">
        <tr>
          <td><%= current_customer.address %></td>
        </tr>
        <tr>
          <td><%= current_customer.last_name + current_customer.first_name %></td>
        </tr>
        </div>
        <div class="col">
        <tr>
          <td><%= f.radio_button :address_number, "2" %> <%= f.label :address, "登録済み住所から選択" %></td>
        </tr>
        </div>
        <div class="col">
        <tr>
          <td><%= f.select :address_id, options_from_collection_for_select(current_customer.addresses, :id, :address_display) %></td>
        </tr>
        </div>
      </table>
    </div>
    <div class="row-4 ml-3">
      <table>
        <tr>
          <td><%= f.radio_button :address_number, "3" %> <%= f.label :address, "新しいお届け先" %></td>
        </tr>
        <div class="col">
        <tr>
          <td style="width: 20%"><%= f.label :postal_code, "郵便番号(ハイフンなし）" %> <%= f.text_field :postal_code %></td>
        </tr>
        <tr>
          <td><%= f.label :address, "住所" %> <%= f.text_field :address, size: "40" %></td>
        </tr>
        <tr>
          <td><%= f.label :name, "宛名" %> <%= f.text_field :name %></td>
        </tr>
        </div>
      </table>
    </div>
    <div class="row justify-content-center">
      <%= f.submit "確認画面へ進む", class:"btn btn-primary" %>
    </div>
  <% end %>
</div>