<div class="container">
  <div class="row">
    <h1>商品一覧</h1><h4>全<%= Item.count %>件</h4>
  </div>
  <div class="row justify-content-center">
    <% @items.each do |item| %>
      <div class="col-3">
        <%= link_to item_path(item.id) do %>
        <%= image_tag item.get_image %>
        <% end %>
        <p><%= item.name %></p>
        <p>¥<%= item.add_tax_price.to_s(:delimited) %></p>
      </div>
    <% end %>
    <%= paginate @items %>
  </div>
</div>