<%= image_tag @item.get_image %>
  <p>商品名：<%= @item.name %></p>
  <p>商品説明：<%= @item.introduction %></p>
  <p>税込価格：<%= @item.add_tax_price.to_s(:delimited) %> 円</p>
  <%= form_with model: @cart_item, local: true do |f| %>
    <%= f.hidden_field :item_id, value: @item.id %>
    <%= f.select :amount, [*1..10] %>
    <%= f.submit "カートに入れる" %>
  <% end %>
  